.floatingbuttondiv {
	background-color: rgb(192,0,0);
	box-shadow: 2px 2px 22px -6px rgba(0,0,0,0.75);
	background: linear-gradient(135deg, rgba(255,0,0,1) 0%, rgba(192,0,0,1) 100%); 
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 25px;
	right: 20px;
	margin-right: 20px;
	border-radius: 50%;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	z-index: 100000;
}

.floatingbutton {
	cursor: pointer;
	color: white;
	font-size: 20px;
	vertical-align: middle;
	margin: auto;
	background-color: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

#searchfield {
	position: fixed;
	bottom: 25px;
	right: 90px;
	width: 300px;
	height: 50px;
	padding-left: 25px;
	border-style: solid;
	border-color: rgb(192,0,0);
	font-size: 18px;
	color: black;
	border-radius: 30px;
	border-width: 2px;
	background-color: #f2f1ec;
	background-color: white;
	box-shadow: 2px 2px 22px -6px rgba(0,0,0,0.75);
	display: none;
	z-index: 100000;
}

article {
	background-color: lightgrey;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 2px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}